Calculate shared key according to RFC8446

Responder authentication multiple key exchange example
The DHE secrets are computed as specified in clause 7.4 of RFC 8446.

in RFC 8446, 7.4:
The negotiated key (Z) is converted to a
byte string by encoding in big-endian form and left-padded with zeros
up to the size of the prime.

Related issue in specification: https://github.com/DMTF/Security-TF/issues/1351