[SPDM 1.1.2] : KEY_EXCHANGE_RSP command

Hello All,

I'm trying to implement the KEY_EXCHANGE_RSP API on the responder side, went though lib_spdm implementation (libspdm_rsp_key_exchange.c) . To start with and simplify our implementation, max session count supported is 1 (so no multiple session supported) and no mutual authentication support.

For now, we are advertising that we support only ECDHE and generate DHE key and send the public key to the requester, calculate the secret key and store it locally in the structure.
Question - when does the responder use the secret key? I'm a beginner to session key implementation, is there a video or article to understand the usage of the secret key or session, this will help me understand the overall from KEY_EXCHANGE --> FINISH --> END_SESSION or PSK_KEY_EXCHANGE/

Thanks in Advance!
Goutham

From the specification :
>The handshake includes an ephemeral Diffie-Hellman (DHE) key exchange in which the Requester and Responder each generate an ephemeral (that is, temporary) Diffie-Hellman key pair and exchange the public keys of those key pairs in the ExchangeData fields of the KEY_EXCHANGE request message and KEY_EXCHANGE_RSP response message. The Responder generates a DHE secret by using the private key of the DHE key pair of the Responder and the public key of the DHE key pair of the Requester provided in the KEY_EXCHANGE request message. Similarly, the Requester generates a DHE secret by using the private key of the DHE key pair of the Requester and the public key of the DHE key pair of the Responder provided in the KEY_EXCHANGE_RSP response message. The DHE secrets are computed as specified in clause 7.4 of [RFC8446](https://github.com/DMTF/SPDM-WG/blob/master/docs/DSP0274/SPDMSpecification.md#ref_IETF_RFC8446). Assuming that the public keys were received correctly, both the Requester and Responder generate identical DHE secrets from which session secrets are generated.

Once the Requester and Responder have the DHE secret they use the `Key Schedule` to generate more symmetric keys and IV masks that form the basis of a secure SPDM session, mainly the Requester Direction Data Secret and the Responder Direction Data Secret.

1) From the specification - I understand that part of the spec
2) It's not clear how I can test the secure session. Is there a test tool that I can install and acts as a requester which can send KEY_EXCHANGE, FINISH, application data, END_SESSION. So I can verify my code on the responder side

I think the `do_session_via_spdm` function in [spdm-emu](https://github.com/DMTF/spdm-emu) can be a reference. You may use the `spdm_emu_requester` as a requester.

@steven-bellock @Wenxing-hou : Thanks for the comments.
After the KEY_EXCHANGE --> FINISH SPDM commands are exchanged we establish the session_id and secret_key.
Questions:
1) Can you give me an example of secure communication usage, like what kind of application data can the requester encrypt and send to the responder 
2)How does the responder interpret the received data and store it 

Table 6 shows what messages can be sent in a secure session, which is pretty much everything.
<html>
<body>
<!--StartFragment-->

Request | Response | Session | Outside of a session | Session phases
-- | -- | -- | -- | --
GET_MEASUREMENTS | MEASUREMENTS | Allowed | Allowed | Application Phase
FINISH | FINISH_RSP | Allowed | Prohibited | Session Handshake
PSK_FINISH | PSK_FINISH_RSP | Allowed | Prohibited | Session Handshake
HEARTBEAT | HEARTBEAT_ACK | Allowed | Prohibited | Application Phase
KEY_UPDATE | KEY_UPDATE_ACK | Allowed | Prohibited | Application Phase
END_SESSION | END_SESSION_ACK | Allowed | Prohibited | Application Phase
Not Applicable | ERROR | Allowed | Allowed | All Phases
GET_ENCAPSULATED_REQUEST | ENCAPSULATED_REQUEST | Allowed | Allowed | All Phases
DELIVER_ENCAPSULATED_RESPONSE | ENCAPSULATED_RESPONSE_ACK | Allowed | Allowed | All Phases
VENDOR_DEFINED_REQUEST | VENDOR_DEFINED_RESPONSE | Allowed | Allowed | Application Phase
CHUNK_SEND | CHUNK_SEND_ACK | Allowed | Allowed | All Phases
CHUNK_GET | CHUNK_RESPONSE | Allowed | Allowed | All Phases
GET_CSR | CSR | Allowed | Allowed | All Phases
SET_CERTIFICATE | SET_CERTIFICATE_RSP | Allowed | Allowed | All Phases
GET_DIGESTS | DIGESTS | Allowed | Allowed | All Phases
GET_CERTIFICATE | CERTIFICATE | Allowed | Allowed | All Phases
All others | All others | Prohibited | Allowed | Not Applicable

<!--EndFragment-->
</body>
</html>

>How does the responder interpret the received data and store it

If it's non-SPDM data then it's up to another specification to define it. For example PLDM may use the SPDM layer to encrypt and MAC the firmware as it's being sent to a device to do a firmware update.

MCTP message type = 0x5 (SPDM)
MCTP message type = 0x6 (secured message)

Secured message type has a header which has session_id field, is this session_id obtained from SPDM layer (KEY_EXCHANGE_RSP)? 
If, yes, then to use a secured message over MCTP,  we must have SPDM layer as a requirement to get session_id.
If, no,  how does the secured message obtain session_id from?

![image](https://user-images.githubusercontent.com/36578776/192348682-8e056e12-77f3-4215-8d74-b17d53dc436d.png)


>Secured message type has a header which has session_id field, is this session_id obtained from SPDM layer (KEY_EXCHANGE_RSP)?
>If, yes, then to use a secured message over MCTP, we must have SPDM layer as a requirement to get session_id.

Pretty much correct. There is a strong binding between Secure MCTP and SPDM, but another specification could come along that binds Secure MCTP to, say, TLS or something. But for the most part, yeah, it's SPDM that generates the `session id`.

![image](https://user-images.githubusercontent.com/36578776/192600186-8b0ea959-adf6-492b-be52-22da707ce616.png)


@steven-bellock : Thanks again for the clarification

Let's assume the "Message" in the above figure is an SPDM message and the requester sent "GET_MEASUREMENTS" in the secure session. We can know by msg_type that this is SPDM type, but how does the responder interpret the message to know what kind of data it is - might be GET_MEASUREMENTS, FINISH or FINISH _RSP. Is there a field or format or header that can tell the responder what type of SPDM message is in application data or Message (highlighted in blue color)

Let's assume the "Message" in the above figure is an SPDM message and the requester sent "GET_MEASUREMENTS" in the secure session. We can know by msg_type that this is SPDM type, but how does the responder interpret the message to know what kind of data it is - might be GET_MEASUREMENTS, FINISH or FINISH _RSP. Is there a field or format or header that can tell the responder what type of SPDM message is in application data or Message (highlighted in blue color)

Answered in meeting.