Elecptic curveDHE secret key size ?

Hello,
I'm using dhe - secp384r1 where private key is 48Bytes and public key is 96 bytes.
What is the size of the secret key? 48/96 Bytes?

The SPDM specification calls this the "DHE secret", and it says
>For ffdhe2048, ffdhe4096, secp256r1, secp384r1, and secp521r1, the format and computation of the DHE secret shall be the shared secret, which section 7.4 of [RFC8446](https://github.com/DMTF/SPDM-WG/blob/master/docs/DSP0274/SPDMSpecification.md#ref_IETF_RFC8446) defines.

and `RFC8446` says
>so that the shared secret is the x-coordinate of the ECDH shared secret elliptic curve point represented as an octet string.

Thanks, so this will be 48 bytes?

Firmware calculated secret key, it has both x and y coordinate:
03 5C CF F6 A8 C2 AB 57 96 9D B0 9D C2 05 36 EC --> x-coordinate
8F 0E 3C A7 E2 5B DF 36 95 E8 34 58 82 F0 ED A8 --> x-coordinate
B0 0E D0 1B 7A 65 8A ED C9 FE 6F CB 2F 80 2E 81 --> x-coordinate
E2 80 2B B0 05 C9 07 BE CE 6E 0E 55 24 83 FD BF --> y-coordinate
61 EC 3A 63 57 86 9B CC A7 10 C3 68 73 5F 29 59 --> y-coordinate
E7 40 D8 8B 2C 32 78 A6 CD 20 D2 AA 0C CF 90 D9 --> y-coordinate

Open SSL output :
1)Create private key
openssl ecparam -genkey -name secp384r1 -noout -out private.pem

2)Create public key
openssl ec -in private.pem -pubout -out public.pem

3) Calculate secret key
OPENSSL ouput - openssl pkeyutl -derive -inkey priv.pem -peerkey public.pem -out secret.bin
secret.bin (hexdump)
03 5C CF F6 A8 C2 AB 57 96 9D B0 9D C2 05 36 EC --> x-coordinate
8F 0E 3C A7 E2 5B DF 36 95 E8 34 58 82 F0 ED A8 --> x-coordinate
B0 0E D0 1B 7A 65 8A ED C9 FE 6F CB 2F 80 2E 81 --> x-coordinate


Does libspdm tell us about secret key size? 48Bytes (x coordinate)

https://github.com/DMTF/libspdm/blob/d858bede17ca36f95023728741075aa37c786de3/os_stub/cryptlib_mbedtls/pk/ec.c#L375-L391

Thank you
